Source: mg3a
Section: unknown
Priority: optional
Maintainer: Pedro A. Aranda Gutiérrez <paag@unknown>
Build-Depends: debhelper-compat (= 13), autotools-dev
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/mg3a
#Vcs-Git: https://salsa.debian.org/debian/mg3a.git
Rules-Requires-Root: no

Package: mg3a
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
