#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with quilt

# clean and strip are OK

override_dh_auto_build:
	$(MAKE) \
	CC=gcc \
	COPT="-O3 $(shell pkg-config --cflags ncursesw)" \
	LIBS=$(shell pkg-config --libs ncursesw) all

override_dh_auto_install:
	make DESTDIR=$(shell pwd)/debian/mg3a PREFIX=/usr install
